* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #000;
}

.wrapper_card {
    width: 100wh;
    height: 100vh;
	display: flex;
    flex-direction: column;
	align-items: center;
	justify-content: center;
    font-size: 0.875rem;
	font-family: "Inter", sans-serif;
}

.social_card {
    background-color: hsl(0, 0%, 8%);
	text-align: center;
	border-radius: 20px;
	padding: 40px;
}

.pp_card {
	width: 90px;
	border-radius: 100%;
}
.title_card {
	color: #fff;
	font-weight: 600;
	font-size: 1.5rem;
	margin-bottom: 10px;
	margin-top: 24px;
	letter-spacing: 0.5px;
}

.location_card {
	color: hsl(75, 94%, 57%);
	margin-bottom: 28px;
	font-size: 0.875rem;
	font-weight: 600px;
	letter-spacing: 0.1px;
}

.bio_card {
	color: #fff;
	font-weight: 400;
	font-size: 0.875rem;
}

.links_flex_card {
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	row-gap: 16px;
	margin-top: 26px;
}

.link {
    background-color: hsl(0, 0%, 20%);
    width: 304px;
    color: #fff;
	font-size: 0.875rem;
	letter-spacing: 0.6px;
	font-weight: 700;
    line-height: 45px;
	border-radius: 10px;
    text-decoration: none;
}

.link:hover { 
    background-color:  hsl(75, 94%, 57%);
    color: hsl(0, 0%, 8%);
}

@media screen and (min-width: 320px) and (max-width:480px) { 
    .social_card {
        padding: 24px
    }
    .link {
        width: 279px;
    }
    .wrapper_card {
        overflow: hidden;
    } 
} 